/* Стили для страницы "О проекте" */
.about-page p {
  text-indent: 50px;
}

.about-section-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.about-images {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about-images img {
  width: 30%;
  border-radius: 8px;
}

@media (width < 768px) {
  .about-images {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .about-images img {
    width: 100%;
    width: min(100%, 300px);
    height: auto;
    object-fit: contain;
  }
}

@media (width < 480px) {
  .about-section-title {
    font-size: 1.2rem;
  }

  .about-images img {
    width: min(100%, 250px);
  }
}

