/* Стили для форм (input, select, radio) */
.question input[type="text"] {
  width: 220px;
  padding: 4px 10px;
  font-size: 22px;
  color: black;
  background-color: var(--test-bg-5);
  border: 1px solid var(--test-white-3);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
  margin: 0 1px;
}

.question input[type="text"]:hover {
  background-color: var(--test-green-rgba-3);
  border-color: var(--test-green);
}

.question input[type="text"]:focus {
  border-color: var(--test-green);
  box-shadow: 0 0 5px var(--test-green-rgba-5);
  outline: none;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--test-green);
  border-radius: 50%;
  outline: none;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--test-green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width < 992px) {
  .question input[type="text"] {
    width: 180px;
    font-size: 20px;
    padding: 3px 8px;
    margin: 0 1px;
  }
}

@media (width < 768px) {
  .question input[type="text"] {
    width: min(100%, 250px);
    font-size: 18px;
    padding: 3px 8px;
    margin: 0;
  }

  input[type="radio"] {
    width: 14px;
    height: 14px;
    border: 2px solid var(--test-green);
  }

  input[type="radio"]:checked::before {
    width: 6px;
    height: 6px;
  }
}

@media (width < 480px) {
  .question input[type="text"] {
    font-size: 16px;
    padding: 2px 6px;
    width: 100%;
    margin: 0;
  }
}

@media (width < 360px) {
  .question input[type="text"] {
    font-size: 15px;
    padding: 2px 5px;
    margin: 0;
  }
}

